.gridContainer {
  display: grid;

  /* Using px */
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;

  /* Using auto */
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  /* Using percentage */
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;

  /* Using fr - Fractional Units */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  /* Using repeat(amount, unit) */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  /* Column and Row Gap */
  column-gap: 10px;
  row-gap: 10px;
  gap: 20px;
}

/* Media Queries */
/* Desktops, Extra Large Screen */
@media screen and (min-width: 1025px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }
}

/* iPads, Tablets, Laptops, Small Screen */

@media screen and (min-width: 281px) and (max-width: 1024px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
  }
}

/* Mobile Devices */
@media screen and (max-width: 480px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
